:root {
    --primary-color: #5b7bb4;
    --max-width: 1100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: lightgray;
    text-align: center;
    /*display: inline-block*/
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
}


#root {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.jobItem {
    border-radius: 5px;
    padding: 5px 2px;
    margin-top: 5px;
}

.jobItem-header {
    display: flex;
    justify-content: space-evenly;
}

.flexBox {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flexBox .row {
    /*border: 1px dotted grey;*/
}

.flexBox .row.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.flexBox .row.content {
    flex: 1 1 auto;
    height: 60%;
}

.flexBox .row.footer {
    flex: 0 1 40px;
}

.votescreen {
    background-color: darkslategray;
    height: 100%;
}

.nomargin {
    margin: 0px, 0px, 0px, 0px;
}

.centered {
    text-align: center;
}