service: testconverter
frameworkVersion: '2'

plugins:
  - serverless-pseudo-parameters

provider:
  name: aws
  region: eu-central-1
  memorySize: 512
  lambdaHashingVersion: 20201221

  iamRoleStatements:
    - Effect: Allow
      Action:
        - sqs:SendMessage
      Resource:
        - { "Fn::Join" : [ ":", [ "arn:aws:sqs", "${self:provider.region}", "#{AWS::AccountId}" ,"${self:custom.extra.ResultNotificationQueue}"] ]}
    - Effect: Allow
      Action:
        - s3:GetObject
      Resource:
        - { "Fn::Join" : [ "", [ "arn:aws:s3:::", "${self:custom.extra.OriginalBucketName}", "/*"] ]}
    - Effect: Allow
      Action:
        - s3:PutObject
      Resource:
        - { "Fn::Join" : [ "", [ "arn:aws:s3:::", "${self:custom.extra.ResultBucketName}", "/*"] ]}

functions:
  Converter:
    image: ${self:custom.extra.Image}
    timeout: 60
    environment:
      CONVERTER_NAME: ${self:custom.extra.Name}
      RESULT_NOTIFICATION_QUEUE: { "Fn::Join" : [ "", [ "https://sqs.", "${self:provider.region}" ,".amazonaws.com/", "#{AWS::AccountId}" , "/" ,"${self:custom.extra.ResultNotificationQueue}"] ]}
      RESULT_BUCKET_NAME: ${self:custom.extra.ResultBucketName}
    events:
     - sqs:
         arn: !GetAtt ConvertFileQueue.Arn

custom:
  stage: ${opt:stage, self:provider.stage}
  extra: ${file(vars/${self:custom.stage}.yml)}

resources:
  Resources:
    ConvertFileQueue:
      Type: "AWS::SQS::Queue"
      Properties:
        VisibilityTimeout: 90

    ConvertFileQueuePolicy:
      Type: "AWS::SQS::QueuePolicy"
      Properties:
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Sid: Allow-SNS-SendMessage
            Effect: Allow
            Principal: "*"
            Action:
              - sqs:SendMessage
            Resource: !GetAtt ConvertFileQueue.Arn
            Condition:
              ArnEquals:
                aws:SourceArn: ${self:custom.extra.FileUploadedTopic}
        Queues:
          - !Ref ConvertFileQueue

    ConvertFileQueueSubscription:
      Type: AWS::SNS::Subscription
      Properties:
        Protocol: sqs
        Endpoint: !GetAtt ConvertFileQueue.Arn
        Region: "${self:provider.region}"
        TopicArn: ${self:custom.extra.FileUploadedTopic}
        RawMessageDelivery: 'true'
